<form action="/" method="POST">
  <h3>DELETE FORM</h3>

  <!-- set 'DELETE' method -->
  <input type="hidden" name="_method" value="DELETE">

  <input name="username" placeholder="Username"/>
  <button type="submit">Submit!</button>
</form>
